<!--quando clicar em cima do pookemon, irao aparecer detalhes sobre ele-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style_detalhes.css" rel="stylesheet">
    <title>Detalhes</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section>
<h1>Detalhes</h1>
        </section>
        
        <section>
            
            <table>
                <tbody>

                        <td colspan="2" class="imagem"><img  src='/<%=pokemon.imagem%>'>
                    
                    <tr>
                        <td class="dhai">Nome:</td>
                        <td>
                            <%= pokemon.nome%>
                        </td>
                    </tr>
                    <tr>
                        <td class="dhai">Número:</td>
                        <td>
                            <%= pokemon.numero %>
                        </td>
                    </tr>
                    <tr>
                        <td class="dhai">Tipo:</td>
                        <td>
                            <%= pokemon.tipo%>
                        </td>
                    </tr>
                    <tr>
                        <td class="dhai">Descrição:</td>
                        <td>
                            <%= pokemon.descricao%>
                        </td>
                    </tr>
                    <tr>
                        <td class="dhai">Altura:</td>
                        <td>
                            <%= pokemon.altura%>
                        </td>
                    </tr>
                    <tr>
                        <td class="dhai">Peso:</td>
                        <td>
                            <%= pokemon.peso%>
                        </td>
                    </tr>
                    <tr>
                        <td class="dhai">Categoria:</td>
                        <td>
                            <%= pokemon.categoria%>
                        </td>
                    </tr>
                    <tr>
                        <td class="dhai">Habilidade:</td>
                        <td>
                            <%= pokemon.habilidade%>
                        </td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </section>
    </main>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>